@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    111 Net Core Street<br />
    Toronto, CA M5B 2H1<br />
    <abbr title="Phone">P:</abbr>
    444.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@cfdev.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@cfdev.com">Marketing@example.com</a>
</address>
