@model int

@{
    ViewData["Title"] = "C#7 Local Functions";
}

<h3>Blog Article: <a href="http://www.biglittleendian.com/article/102">C#7 - Local Functions Are Bringing Cleaner Code And Better Performance Comparing To Lambda Expressions</a></h3>

<b>Number: @Model</b>

@Html.Partial("_UnitTestFileNames", "ExampleCSharp/LocalFunctionsTest.cs")
