@model int

@{
    ViewData["Title"] = "C#7 Out, Ref Local and Ref Return";
}

<h3>Blog Article: <a href="http://www.biglittleendian.com/article/103">C#7 - Out, Ref Local and Ref Return Are Bringing Some Cool Tricks</a></h3>

<b>Number: @Model</b>

@Html.Partial("_UnitTestFileNames", "ExampleCSharp/OutAndRefReturnTest.cs")
