@model int

@{
    ViewData["Title"] = "C#7 Pattern Matching";
}

<h3>Blog Article: <a href="http://www.biglittleendian.com/article/104">C#7 - Pattern Matching Is One More Step Forward in Making C# More Concise and Readable</a></h3>

<b>Sum: @Model</b>

@Html.Partial("_UnitTestFileNames", "ExampleCSharp/PatternMatchingTest.cs")
